body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #092a3e;
}

header {
    background: #19567c;
    color: #092a3e;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

h2 {
    border-bottom: 2px solid #35424a;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    display: grid;
    gap: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #19567c;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}